.middle {
    align-items: center;
    justify-content: center;
    font-size: 24px;
    line-height: 1.6;
    color: rgba(196, 197, 197, 1);
    margin-bottom: 10px;
}
.cardwrraper {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 6rem;
}
.text {
    margin-top: 10px;
    color: blue;
    font-size: 18px;
}
.link {
    margin-left: 10px;
    font-weight: bold;
    text-decoration: none;
}