.navbar {
    padding: 20px 0;
}
.decoration {
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.space {
    margin-left: 10px;
}